.graph {
	display: inline-block;
	width:40%;
}

.goals {
	display: inline-block;
	width:40%;
	vertical-align: top;
}

/*.background {
	background-image: url('../images/dollar.jpg');
	 opacity: 0.5;
	/*background-size:contain;*/
/*}*/