* {
	margin: 0px;
	padding:0px;
}
/* .graph {
	display: inline-block;
	width:40%;
}

.goals {
	display: inline-block;
	width:40%;
	vertical-align: top;
} */

/*.background {
	background-image: url('../images/dollar.jpg');
	 opacity: 0.5;
	/*background-size:contain;*/
/*}*/

/* .col-sm-12{
	height: 103px;
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 0px;
	border:2px solid black;
} */

.header{
	width: 100%;
	background-color: #116d96;
}

.logo{
	height: 100px;
	vertical-align: top;
	margin:10px;
}

/* .logo, .welcome, .logout, .site, h4, h5{
	display: inline-block;
	color: white;
	line-height: 100%;
} */
.logout-link{
	/* margin-left: 163px; */
	text-align: right;
	color: white;
	text-decoration: none;
}

.settings {
	display: inline-block;
	width:160px;
	margin-left: 75%;
	color:white;
}

.site{
	font-family: 'Black Ops One', cursive;
	color: white;
	display: inline-block;
	font-size: 45px;
	padding-top: 10px;
	height: 120px;
	line-height: 120px;
	vertical-align: middle;
}

.vertical-center {
	line-height: 100%;
	margin:auto 0px;
}

.container-fluid{
	min-width:900px;
}

.row {
	margin:0px;
}

.menu-navigation{
	list-style: none;
	display: inline-block;
	color: white;
	/* margin-left: 75px; */
	margin-bottom: 0px;
	vertical-align: top;
	/* margin-top: 34px; */
}

.nav-item {
	display: inline;
	font-size: 24px;
	margin: 0px 10px;
}

.nav-item a {
	color:white;
	text-decoration: none;
}

.nav-item a:hover {
	color: steelblue;
}
/* h5{
	font-size: 18px;
}

ul li{
	display: inline;
	margin-right: 20px;
}

a{
	color: white;
	opacity: 0.7;
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

a:hover{
	color: white;
	opacity: 2;
	text-decoration: none;
} */

/* .import{
	color: black;
} */

.main_content{
	position: relative;
	top:-700px;
	width: 100%;
	height: 700px;
	color: black;
	padding-top: 15%;
	/* padding-left:50%; */
	text-align: center;
	overflow: auto;
}

.main{
	opacity: 0.4;
	min-height:700px;
	/* min-width: ; */
	text-align: center;
	background-image: url("chart.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
}

/* .col {
	display: inline-block;
	vertical-align: top;
	line-height: 100%;
} */

.settings_menu {
	display: inline-block;
	vertical-align: top;
}

.menu_link {
	color:black;
	position: relative;
	top:-15px;
	left:20px;
	opacity: .6;
	vertical-align: top;
	z-index: 2;

}

.menu_button {
	width:70px;
}

.hidden {
	display: none;
}

#gear:hover {
	display: hidden;
}

/* .graph_button {
	color:black;
} */
/* h1{
	font-size: 56px;
    text-align: center;
	padding-top: 254px;
	margin-top: 0px;
	opacity: 1px;
	position: absolute;
	margin-top: -670px;
	margin-right: 100px;
	margin-left: 100px;
	font-family: 'Roboto', sans-serif;
	padding-right: 103px;
	padding-left: 103px;

} */

.elipsis{
	position: relative;
    /* margin-top: -304px;
    margin-left: 730px; */
	font-size: 91px;
	color: black;
}

.start{
    color: black;
    position: relative;
    /* margin-top: -232px;
    margin-left: 706px; */
    opacity: 1;
    font-size: 32px;
    font-weight: 700;
}

.start:hover{
	color: steelblue;
}

/* .graph_button{
	text-align: center;
}

.history_subhead{
	margin-top: 20px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: rgb(44, 44, 44);
	font-weight: bold;
	font-size: 40px;
}

.col-sm-6{
	margin-top: 141px;
}

.add_goal{
	margin-left: 50px;
}

.delete_goal{
	color: black;
}

.delete_goal:hover{
	color: black;
}

.curr{
	margin-left: 30px;
}

.col-sm-1{
	height: 100%;
} */
