<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>File Display</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'expense_tracker_app/css/docs.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Graduate" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script src="{% static 'expense_tracker_app/javascript/settings_button.js' %}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('img.logo').click(function() {
                window.location.href = '/track';
              });
        });
	</script>
</head>
<body>
    <div class="container-fluid">
      <div class="col-sm-12">
        <div class="header">
          <div class="col-sm-1">
            <img class="logo" src="{% static 'expense_tracker_app/images/coach.jpg' %}">
          </div>
          <div class="col-sm-5"> 
            <h2 class="site">MONEY COACH</h2>
          </div>
          <div class="col-sm-5">  
            <ul>
              <li><h5><a href="/track/history">HISTORY</a></h5></li>
              <li><h5> | </h5></li>
              <li><h5><a href="/track/goals">GOALS</a></h5></li>
              <li><h5> | </h5></li>
              <li><h5><a href="/track/import">UPLOAD</a></h5></li>
            </ul>	
          </div> 
          <div class="col-sm-1"> 
            <h4><a class="logout" href="/">{{user.name}} | </a>
              <div class="settings_menu">
                <div id = "gear">
                  <i class="fas fa-cog"></i>
                </div>
                <a class='menu_link hidden' href='#'><button class="menu_button">Profile</button></a><br>
                <a class='menu_link hidden' href='/track'><button class="menu_button">Home</button></a> <br>
                <a class='menu_link hidden' href='/'><button class="menu_button">Logout</button></a>
              </div>
            </h4>	
          </div>  			
        </div>
      </div>
      <div class="col-md-2"></div>  
      <div class="col-md-8">
          <h3 class="title">Uploaded transactions:</h3>
          <table class="table">
            <tr>
              <th>Date of Purchase</th>
              <th>Company</th>
              <th>Category</th>
              <th>Price</th>
              <th>Edit Transaction</th>
            </tr>
            {% for t in transactions %}
              <tr>
                <td>{{t.date_of_purchase}}</td>
                <td>{{t.company}}</td>
                <td>{{t.category}}</td>
                <td>${{t.price}}</td>
                <td><a href="/track/edit/{{t.id}}">Edit</a> | <a href="/track/delete/{{t.id}}">Delete</a></td>
              </tr>
            {% endfor %}
          </table>
          <h4>Does Everything Look Correct? OK. Now, let's import your transactions to your <a href="/track/graph">financial history!</a></h4>
      </div>  
      <div class="col-md-2"></div>
    </div>
</body>
</html>