<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Success!</title>
	{% load static %}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script> -->
	<link rel="stylesheet" href="{% static 'expense_tracker_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div class="container-fluid">
		<div>
			<h2>Your Financial History:</h2>
			{{request.session.graph | safe}}
		</div>
		<a href="/track/pie_chart"><button>Show me a pie chart!</button></a>
		<a href="/track/history"><button>Show me my spending over time</button></a>
	</div>
	
</body>
</html>