<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Success!</title>
	{% load static %}
	<!-- <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script> -->
	<link rel="stylesheet" href="{% static 'expense_tracker_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<h1>Welcome, {{request.session.user_id}}</h1>
	<a href="/track/import">Import Your Transaction History Here!</a>
	<div>
		{{response}}
	</div>
	
	<div class="graph">
		<h2>Your Financial History:</h2>
		{{graph | safe}}
	</div>
	<div class="goals">
		<h2>Your Financial Goals:</h2>
		{{goals}}
	</div>
</body>
</html>