<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Success!</title>
	{% load static %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'expense_tracker_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Graduate" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<div class="col-sm-12">
			<div class="header">
				<img class="logo" src="{% static 'expense_tracker_app/images/coach.jpg' %}">
				<h2 class="site">MONEY COACH</h2>
				<ul>
					<li><h5><a href="/track/history">HISTORY</a></h5></li>
					<li><h5> | </h5></li>
					<li><h5><a href="#">GOALS</a></h5></li>
					<li><h5> | </h5></li>
					<li><h5><a href="#">CATEGORY</a></h5></li>
				</ul>	
				<h4><a class="logout" href="/logout">{{user_name}} | Logout</a></h4>				
			</div>
		</div>
		<div class="col-sm-12">
			<div class="main_content">
				<a class="import" href="/track/import">Import Your Transaction History Here!</a>				
				<h2>By default financial history graph will go here?</h2>
			</div>
			<div class="goals">
				<h2>Your Financial Goals:</h2>
				<!-- {{goals | safe}} -->
				<ul>
					{% for goal in goals %}
					<a href="/track/graph"><li class="goal">{{goal}}</li></a>		
					{% endfor %}
				</ul>	
			</div>
		</div>
	
	</div>
	

</body>
</html>